<h1>相簿</h1>
<form method="post" enctype="multipart/form-data" action="/api/upload/album">
    名稱：<input type="text" name="Title" /><br />
    日期：<input type="date" name="Date" /><br />
    相片：<input type="file" name="Photos" multiple accept="image/*" /><br />
    <input type="submit" value="送出" />
</form>